@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

:root {
    --dark-violet: #3D2C8D;
    --light-violet: #d3d3d3;
    --light-pink: #f0e4f0;
    --grid-border: #E8E8E8;
}
* {
    margin: 0;
    font-family: 'Finger Paint', cursive;
    color: var(--dark-violet);
}

/* body */
body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg,#fae7e7, #dce2f8, #CDDEFF, #f3ddf8, #FDF6F0);
}

/* common styles */
.container {
    padding: 1vh 8vw;
}
button, #slider {
    width: 14vw;
    height: 5vh;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--dark-violet);
    margin: 2.5vh;
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--light-pink);
    transition: all 0.2s ease;
}
.button-bg {
    background-color: thistle;
}
button:hover {
    background-color: thistle;
    transform: scale(103%);
    
}

/* header */
header {
    display: flex;
    justify-content: space-between;
}
#header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
#header-logo > h1 {
    font-size: 30px;
}
#header-logo > img {
    width: 60px;
}
#github-link > a > img {
    width: 40px;
    transition: all 0.2s ease;
}
#github-link:hover > a > img {
    transform: scale(115%);
}

/* main section - contains the sketching board and controls */
section {
    padding-top: 1vh;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}

/* left section */
#grid-container {
    width: 32vw;
    aspect-ratio: 1;
    background-color: white;
    display: grid;
    -webkit-box-shadow: 10px 12px 17px -7px rgba(61,44,141,0.28);
    -moz-box-shadow: 10px 12px 17px -7px rgba(61,44,141,0.28);
    box-shadow: 10px 12px 17px -7px rgba(61,44,141,0.28);
}
.border-gray {
    border: 1px solid var(--grid-border);
}

/* right section */
.control-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.colorpicker-container {
    width: 14vw;
    display: flex;
    margin: auto;
    align-items: center;   
}
#colorpicker {
    width: 6vh;
    height: 6vh;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    margin: 0 1.5vw;
    transition: all 0.2s ease;
}
#colorpicker:hover {
    transform: scale(110%);
}
#colorpicker::-webkit-color-swatch-wrapper {
    padding: 0;
}
#colorpicker::-webkit-color-swatch {
   border: none;
   border-radius: 50%; 
}
#colorpicker::-moz-color-swatch-wrapper {
    padding: 0;
}
#colorpicker::-moz-color-swatch {
   border: none;
   border-radius: 50%; 
}
.grid-info {
    margin-top: 2vh;
    text-align: center;
    color: #3D2C8D;
}
#slider {
    appearance: none;
    height: 1vh;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-color: thistle;
    transition: all 0.2s ease;
}
#slider:hover {
    transform: scale(105%);
}
#slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background-color: var(--light-violet);
    border: 4px solid var(--dark-violet);
    cursor: pointer;
}
#slider::-moz-range-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background-color: var(--light-violet);
    border: 4px solid var(--dark-violet);
    cursor: pointer;
}